table {
    text-align: center;

    th,
    td {
        vertical-align: middle;
    }
}

/* Immagini nella sezione photos */
.photo-img {
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}